<header>
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top"
                         alt="">
                    Zeno Project Manager
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
                        style="--bs-scroll-height: 100px;">
                        <li class="nav-item mt-1">
                            <a class="nav-link" aria-current="page" href="/">
                                <i class="fas fa-columns"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item mt-1">
                            <a class="nav-link" aria-current="page" href="https://localhost:5001/swagger/index.html">
                                <i class="fas fa-file-alt"></i>
                                Doc
                            </a>
                        </li>      
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

@code {
}
